.floating-editor {
    position: absolute;
    z-index: 10;
    border: 1px solid lightgrey;
}

.floating-editor .titlebar {
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

.floating-editor .titlebar .target {
    font-weight: bold;
}

.floating-editor .titlebar span {
    font-size: 14px;
    font-style: italic;
}

.floating-editor .floating-title {
    display: none;
}
